name=ztetris
repo=ports
version=1.1.0
description=The Best TI-83+ Tetris
author=Jimmy Mårdell <yarin@acc.umu.se>, Sam Heald <evil_sam@hotmail.com>, Patrick Davidson <eeulplek@hotmail.com>
maintainer=Tyler Anderson <unlimitedbacon@gmail.com>
infourl=https://github.com/unlimitedbacon/ztetris
dependencies=core/corelib
